@import '../scss-utils/variables';
@import '../scss-utils/mixin';

.footer {
    margin-top: 8rem;

    padding: 6rem 0 6rem 0;
    background: $clr-primary-dark-blue;

    .container {
        .footer__wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .footer__left {
                .footer__logo {
                    @include flex-row-center();
                    column-gap: 1.6rem;

                    a {
                        font-family: $second-family;
                        font-size: 3rem;
                        color: $clr-primary-gray;
                        font-weight: bold;
                    }

                    h2 {
                        color: $clr-white;
                        font-size: $font-size-ss;
                        font-weight: 500;
                        line-height: 1.44rem;

                        max-width: 24.1rem;
                    }
                }

                p {
                    margin-top: 3.2rem;
                    color: $clr-white;
                    font-size: $font-size-m;
                    line-height: 2.32rem;
                    transition: $transition-fast;
                    -webkit-transition: $transition-fast;
                    -moz-transition: $transition-fast;
                    -ms-transition: $transition-fast;
                    -o-transition: $transition-fast;

                    &:hover {
                        color: $clr-red;
                    }
                }

                h3 {
                    color: $clr-white;
                    font-size: $font-size-x;
                    font-weight: 700;
                    line-height: 2.4rem;
                    transition: $transition-fast;
                    -webkit-transition: $transition-fast;
                    -moz-transition: $transition-fast;
                    -ms-transition: $transition-fast;
                    -o-transition: $transition-fast;

                    margin-top: 3.2rem;

                    cursor: pointer;

                    &:hover {
                        color: $clr-primary-green;
                    }
                }

                .footer__buttons {
                    margin-top: 3.2rem;

                    @include flex-row-center();
                    column-gap: 1rem;

                    a {
                        font-size: $font-size-x;
                        color: $clr-white;
                        transition: $transition-fast;
                        -webkit-transition: $transition-fast;
                        -moz-transition: $transition-fast;
                        -ms-transition: $transition-fast;
                        -o-transition: $transition-fast;

                        &:hover {
                            color: $clr-primary-yellow;
                        }
                    }
                }
            }

            .footer__right {
                display: flex;
                align-items: flex-start;
                column-gap: 3.2rem;

                .footer__element {
                    h2 {
                        color: $clr-background-2;
                        font-size: $font-size-m;
                        font-weight: 500;
                        line-height: 2.32rem;

                        opacity: 70%;
                    }

                    .footer__list {
                        margin-top: 2.4rem;

                        @include flex-column();
                        row-gap: 1.6rem;

                        .footer-link {
                            transition: $transition-fast;
                            -webkit-transition: $transition-fast;
                            -moz-transition: $transition-fast;
                            -ms-transition: $transition-fast;
                            -o-transition: $transition-fast;

                            color: $clr-white;
                            font-size: $font-size-m;
                            font-weight: 500;
                            line-height: 2.32rem;

                            &:hover {
                                color: $clr-red;
                            }
                        }
                    }

                    .list__last {
                        margin-top: 4.7rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: $padding-regular 4.2rem;

        .container {
            .footer__wrapper {
                flex-direction: column;
                row-gap: 3rem;

                .footer__left {

                    p,
                    h3,
                    .footer__buttons {
                        display: none;
                    }

                    .left-laptop {
                        display: flex;
                        align-items: flex-start;
                        column-gap: 2rem;

                        margin-top: $margin-xsmall;

                        p,
                        h3,
                        .footer__buttons {
                            display: block;
                        }

                        p {
                            font-size: $font-size-s;
                            line-height: 1.82rem;
                            margin-top: 0;

                            &:first-child {
                                max-width: 21.4rem;
                            }
                        }

                        .laptop-right {
                            h3 {
                                font-size: $font-size-l;
                                margin-top: 0;
                                text-wrap: nowrap;
                            }

                            .footer__buttons {
                                margin-top: $margin-xxsmall;
                            }
                        }
                    }
                }

                .footer__right {
                    column-gap: 0;

                    .footer__element {
                        &:first-child {
                            margin-right: 7.7rem;
                        }

                        &:nth-child(2) {
                            margin-right: 1.7rem;
                        }

                        .footer__list {
                            margin-top: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .footer {
        margin-top: $margin-regular;
        padding: $padding-small 0 $padding-small 0;

        .container {
            .footer__wrapper {
                row-gap: 2rem;

                .footer__left {
                    .footer__logo {
                        a {
                            align-items: flex-start;

                            h2 {
                                max-width: 14.5rem;
                            }
                        }
                    }

                    .left-laptop {
                        flex-direction: column;
                        row-gap: 1rem;
                    }
                }

                .footer__right {
                    display: flex;
                    column-gap: 1rem;

                    .footer__element {
                        display: none;
                    }

                    .footer__element-mobile {
                        display: block;

                        h2 {
                            color: $clr-background-2;
                            font-size: $font-size-m;
                            font-weight: 500;
                            line-height: 2.32rem;

                            opacity: 70%;
                        }

                        .footer__list {
                            margin-top: 2.4rem;

                            @include flex-column();
                            row-gap: 1.6rem;

                            .footer-link {
                                transition: $transition-fast;
                                -webkit-transition: $transition-fast;
                                -moz-transition: $transition-fast;
                                -ms-transition: $transition-fast;
                                -o-transition: $transition-fast;

                                color: $clr-white;
                                font-size: $font-size-s;
                                font-weight: 500;
                                line-height: 2.32rem;

                                &:hover {
                                    color: $clr-red;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}